*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
} 
/* this is the navigation bar div */
.navbar{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:#1114;
	position: sticky;
	top: 0;
}
.navbar ul{
	display: flex;
	list-style: none;
	margin: 20px 0px;
}
.navbar ul li{
	font-family: century;
	font-size: 1.1rem;
	font-weight: bold;
}
.navbar ul li a{
	text-decoration: none;
	color: white;
	padding: 8px 25px;
	transition: all 1s ease;
}
.navbar ul li a:hover{
   color: green;
   text-decoration: !important;
}
.logo{
	margin-left :0px;
	margin-right: 450px;
	color: white;
	display: flex;
}

#our{
	display: flex;

}

.our{

	margin-top: 7%;
	background-color: green;
	color: white;
	font-size: 20px;
}
#img{
	margin-left: 32%;
}
#first div{
	
  border: 1px solid #1113;
  width :200px;
  height: 200px;
  margin: 1px;
 

 
}
#second div{
  border: 1px solid #1113;
  width: 200px;
  height: 200px;
  margin: 1px;
   
  
}
#third div{
  border: 1px solid #1113;
  width: 200px;
  height: 200px;
  margin: 1px;
   
  
}

#whole{
	display: flex;
	border: 1px solid #1113;
	width: 98%;
	height: 50%;
	margin-top: 20px;
	margin-left: 20px;
}
#whole:hover{
	border-color: green;
}
#first{
	display: flex;
	margin-left: 30px;
}
#second{
	display: flex;
		margin-left: 30px;
}
#third{
	display: flex;
		margin-left: 30px;
}

#whole img{
	border: 2px solid none;
	margin-right: 20px;
	width: 350px;
	height: 450px;
	margin-top: 70px;


}
#one:hover{
	border-color: green;
}
#two:hover{
	border-color: green;
}
#three:hover{
	border-color: green;
}
#four:hover{
	border-color: green;
}
#onee:hover{
	border-color: green;
}
#twoo:hover{
	border-color: green;
}
#threee:hover{
	border-color: green;
}
#fourr:hover{
	border-color: green;
}
#oneee:hover{
	border-color: green;
}
#twooo:hover{
	border-color: green;
}
#threeee:hover{
	border-color: green;
}
#fourrr:hover{
	border-color: green;
}
.nat{
	color: green;
	font-size: 20px;
}
label{
	margin: 15px;
	font-weight: bold;
}
button{
	width: 70px;
	height: 40px;
	color: white;
	background-color: green;
	border-color: green;
	border-radius: 20px;
	margin-left: 120px;
	margin-top: 30px;
}
button:hover{
	background-color: white;
	color: green;
}